<div class="row">
  <div class="col-4">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Usuarios</h4>
            <table class="table table-hover" *ngIf="usuarios.length > 0">
              <tbody>
                <tr *ngFor="let usuario of usuarios"
                    [routerLink]="['/usuarios']" class="pointer">
                  <td>
                    <img [src]="usuario.img | imagen:'usuario'" class="w35 img-rounded">
                  </td>
                  <td>{{usuario.nombre}}</td>
                </tr>
              </tbody>
            </table>

            <div class="alert alert-info" *ngIf="usuarios.length === 0">No hay registros</div>

          </div>
      </div>
  </div>
  <div class="col-4">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Empresas</h4>
            <table class="table table-hover" *ngIf="empresas.length > 0">
              <tbody>
                <tr *ngFor="let empresa of empresas"
                    [routerLink]="['/empresas']" class="pointer">
                  <td>
                    <img [src]="empresa.img | imagen:'empresa'" class="w35 img-rounded">
                  </td>
                  <td>{{empresa.nombre}}</td>
                </tr>
              </tbody>
            </table>

            <div class="alert alert-info" *ngIf="empresas.length === 0">No hay registros</div>

          </div>
      </div>
  </div>
  <div class="col-4">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Administradores</h4>
            <table class="table table-hover" *ngIf="administradores.length > 0">
              <tbody>
                <tr *ngFor="let administrador of administradores"
                    [routerLink]="['/administrador', administrador._id]" class="pointer">
                  <td>
                    <img [src]="administrador.img | imagen:'administrador'" class="w35 img-rounded">
                  </td>
                  <td>{{administrador.nombre}}</td>
                </tr>
              </tbody>
            </table>

            <div class="alert alert-info" *ngIf="administradores.length === 0">No hay registros</div>

          </div>
      </div>
  </div>
</div>
