<div class="row animated fadeIn">
  <div class="col-md-6">
    <div class="card card-body">
        <h3 class="box-title m-b-0">Administrador</h3>
        <p class="text-muted m-b-30 font-13"> {{usuario.nombre}}</p>
        <div class="row">
            <div class="col-sm-12 col-xs-12">

                <form ngNativeValidate [formGroup]="forma" (ngSubmit)="registrarUsuario()">
                    <div class="form-group">
                        <label>Nombre del administrador</label>
                        <input formControlName="nombre" name="nombre" class="form-control" type="text" required placeholder="Nombre">
                      </div>
                    <div class="form-group">
                      <label>Correo Electrónico</label>
                      <input formControlName="correo" name="correo" type="text" class="form-control" placeholder="Correo del administrador">
                    </div>
                    <div class="form-group">
                      <label>Contraseña</label>
                      <input formControlName="password" name="password" type="text" class="form-control" placeholder="Asigna una contraseña">
                    </div>
                    <div class="form-group">
                      <label>Confirmar Contraseña</label>
                      <input formControlName="password2" name="password2" type="text" class="form-control" placeholder="Confirma la contraseña">
                    </div>
                    <div class="form-group">
                      <input formControlName="role" name="role" type="hidden" value="ADMIN_ROLE">
                    </div>
                    <div class="form-group">
                          <label>Empresa</label>
                          <select (change)="cambioEmpresa( $event.target.value )" formControlName="empresa_id" name="empresa_id" class="form-control">
                            <option value="">Seleccione Empresa</option>
                            <option *ngFor="let empresa of empresas" [value]="[empresa._id, empresa.nombre]">{{empresa.nombre}}
                            </option>

                        </select>
                    </div>

                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                    <i class="fa fa-save"></i>  Guardar
                    </button>
                    <a routerLink="/administradores" class="btn btn-inverse waves-effect waves-light">Volver</a>
                </form>
            </div>
        </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-body">      
        <h4 class="box-title m-b-0">Empresa</h4>
        <img [src]="empresa.img | imagen:'empresa'" class="rounded img-fluid pt-2">
      </div>
    </div>
  </div>

  <div class="col-md-3" *ngIf="usuario._id">
    <div class="card">
      <div class="card-body">      
        <h4 class="box-title m-b-0">Fotografía</h4>
        <img (click)="cambiarFoto()" [src]="usuario.img | imagen:'usuario'" class="img-circle img-fluid pt-2 pointer">
      </div>
    </div>
  </div>

</div>  