<div id="content">
	<div class="row">
	    <div class="col-md-6">
			<h2><b>{{empresa.nombre}} </b> <small>{{month}} {{year}}</small></h2>
	    </div>
	    <div class="col-md-6 text-right">
	        <button class="btn btn-outline-info" (click)="captureScreen()">Descargar Informe en PDF</button>
	    </div>
	</div>
	
	<div class="row pt-3">

		<!--ATP-->

	  <div class="col-md-6" >
	      <div class="card">
	          <div class="card-body grafico">
	            <h4 class="card-title"><b>{{graficos.grafico1.leyenda}}</b></h4>
				<p>Indica la cantidad de accidentes con tiempo perdido en el periodo.</p>

	            <app-grafico-barra
	            [chartLabels]="graficos.grafico1.labels"
	            [chartData]="graficos.grafico1.datasets"
	            [chartType]="graficos.grafico1.type"
	            [chartLegend]="graficos.grafico1.legend"
	            [chartOptions]="graficos.grafico1.options"
	            ></app-grafico-barra>
	                               
	          </div>
	
	          <button *ngIf="usuario.role === 'ADMIN_ROLE'" (click)="borrarGrafico( idG1 )" class="btn btn-danger">
	              <i class="fa fa-trash-o"></i> Eliminar grafico
	          </button>
	                              
	      </div>
	  </div>

	  	<!--PBO-->
	
	  <div class="col-md-6" *ngIf="empresa.categoria === 'BODEGA' || empresa.categoria === 'MIXTO'">
	    <div class="card">
	        <div class="card-body grafico">
	
				<h4 class="card-title"><b>{{graficos.grafico2.leyenda}}</b></h4>
				<p>Mide el grado de eficiencia del personal de bodega, calculando las líneas por hombre por hora.</p>
	
	            <app-grafico-barra
	            [chartLabels]="graficos.grafico2.labels"
	            [chartData]="graficos.grafico2.datasets"
	            [chartType]="graficos.grafico2.type"
	            [chartLegend]="graficos.grafico2.legend"
	            [chartOptions]="graficos.grafico2.options"
	            ></app-grafico-barra>
	                    
	        </div>
	        <button *ngIf="usuario.role === 'ADMIN_ROLE'" (click)="borrarGrafico( idG2 )" class="btn btn-danger">
	                <i class="fa fa-trash-o"></i> Eliminar grafico
	        </button>
	    </div>
	  </div>
	
	  	<!--PTE-->
	    <div class="col-md-6" *ngIf="empresa.categoria === 'TRANSPORTE' || empresa.categoria === 'MIXTO'">
	        <div class="card">
	            <div class="card-body grafico">
	
	                <h4 class="card-title"><b>{{graficos.grafico3.leyenda}}</b></h4>
					<p>Mide el grado de eficiencia del personal de transporte según la cantidad de servicios realizados por equipo.</p>
	                <app-grafico-barra
	                [chartLabels]="graficos.grafico3.labels"
	                [chartData]="graficos.grafico3.datasets"
	                [chartType]="graficos.grafico3.type"
	                [chartLegend]="graficos.grafico3.legend"
	                [chartOptions]="graficos.grafico3.options"
	                ></app-grafico-barra>
	                                 
	            </div>
	            <button *ngIf="usuario.role === 'ADMIN_ROLE'" (click)="borrarGrafico( idG3 )" class="btn btn-danger">
	                    <i class="fa fa-trash-o"></i> Eliminar grafico
	            </button>
	        </div>
		</div>
		
		  <!--CSR-->
		  
	    <div class="col-md-6 "*ngIf="empresa.categoria === 'BASICO' || empresa.categoria === 'MIXTO'">
	      <div class="card">
	          <div class="card-body grafico">
	
	              <h4 class="card-title"><b>{{ graficos.grafico4.leyenda }}</b></h4>
				  <p>Mide la cantidad de servicios realizada en el mes.</p>
	              <app-grafico-barra
	              [chartLabels]="graficos.grafico4.labels"
	              [chartData]="graficos.grafico4.datasets"
	              [chartType]="graficos.grafico4.type"
	              [chartLegend]="graficos.grafico4.legend"
	              [chartOptions]="graficos.grafico4.options"
	              ></app-grafico-barra>
	                      
	          </div>
	          <button *ngIf="usuario.role === 'ADMIN_ROLE'" (click)="borrarGrafico( idG4 )" class="btn btn-danger">
	                <i class="fa fa-trash-o"></i> Eliminar grafico
	        </button>
	      </div>
	    </div>

	
	<!--DVA-->
	  <div class="col-md-6" *ngIf="empresa.categoria === 'BODEGA' || empresa.categoria === 'MIXTO'">
	      <div class="card">
	          <div class="card-body grafico">
	
	              <h4 class="card-title"><b>{{graficos.grafico5.leyenda}}</b></h4>
				  <p>Mide la diferencia económica del inventario ya sea a favor o en contra.</p>

	              <app-grafico-dona
	              [chartLabels]="graficos.grafico5.labels"
	              [chartData]="graficos.grafico5.data"
	              [chartType]="graficos.grafico5.type">
	              </app-grafico-dona>
	                               
	          </div>
	          <button *ngIf="usuario.role === 'ADMIN_ROLE'" (click)="borrarGrafico( idG5 )" class="btn btn-danger">
	                <i class="fa fa-trash-o"></i> Eliminar grafico
	        </button>
	      </div>
	  </div>

		<!--DEQ-->

	  <div class="col-md-6" *ngIf="empresa.categoria === 'TRANSPORTE' || empresa.categoria === 'BODEGA' || empresa.categoria === 'MIXTO'">
	    <div class="card">
	        <div class="card-body grafico">
	
	            <h4 class="card-title"><b>{{ graficos.grafico6.leyenda }}</b></h4>
				<p>Mide el porcentaje de disponibilidad de la flota respecto de lo exigido por contrato.</p>
	            <app-grafico-dona
	            [chartLabels]="graficos.grafico6.labels"
	            [chartData]="graficos.grafico6.data"
	            [chartType]="graficos.grafico6.type"
	            [chartOptions]="graficos.grafico6.options">
	            </app-grafico-dona>
	                    
	        </div>
	        <button *ngIf="usuario.role === 'ADMIN_ROLE'" (click)="borrarGrafico( idG6 )" class="btn btn-danger">
	                <i class="fa fa-trash-o"></i> Eliminar grafico
	        </button>
	    </div>
	  </div>

	<!--DUP-->

	  <div class="col-md-6" *ngIf="empresa.categoria === 'BODEGA' || empresa.categoria === 'MIXTO'">
	      <div class="card">
	          <div class="card-body grafico">
	
	              <h4 class="card-title"><b>{{graficos.grafico7.leyenda}}</b></h4>
				  <p>Mide la productividad general de Operación bodega a través de atención de líneas procesadas en relación a las solicitadas.</p>
	              <app-grafico-dona
	              [chartLabels]="graficos.grafico7.labels"
	              [chartData]="graficos.grafico7.data"
	              [chartType]="graficos.grafico7.type"
	              [chartOptions]="graficos.grafico7.options">
	              </app-grafico-dona>
	                               
	          </div>
	          <button *ngIf="usuario.role === 'ADMIN_ROLE'" (click)="borrarGrafico( idG7 )" class="btn btn-danger">
	                <i class="fa fa-trash-o"></i> Eliminar grafico
	        </button>
	      </div>
	  </div>

	  	<!--CST-->
	
	  <div class="col-md-6" *ngIf="empresa.categoria === 'BODEGA' || empresa.categoria === 'MIXTO'">
	    <div class="card">
	        <div class="card-body grafico">
	
	            <h4 class="card-title"><b>{{ graficos.grafico8.leyenda }}</b></h4>
				<p>Mide la exactitud del stock de bodega a través del calculo de las diferencias.</p>

	            <app-grafico-dona
	            [chartLabels]="graficos.grafico8.labels"
	            [chartData]="graficos.grafico8.data"
	            [chartType]="graficos.grafico8.type"
	            [chartOptions]="graficos.grafico8.options">
	            </app-grafico-dona>
	                    
	        </div>
	        <button *ngIf="usuario.role === 'ADMIN_ROLE'" (click)="borrarGrafico( idG8 )" class="btn btn-danger">
	                <i class="fa fa-trash-o"></i> Eliminar grafico
	        </button>
	    </div>
	  </div>

	  	<!--DST-->

	    <div class="col-md-6" *ngIf="empresa.categoria === 'BODEGA' || empresa.categoria === 'MIXTO'">
	        <div class="card">
	            <div class="card-body grafico">
	  
	                <h4 class="card-title"><b>{{graficos.grafico9.leyenda}}</b></h4>
					<p>Devoluciones (Rechazos) ejecutados dentro de plazo.</p>
	                <app-grafico-dona
	                [chartLabels]="graficos.grafico9.labels"
	                [chartData]="graficos.grafico9.data"
	                [chartType]="graficos.grafico9.type"
	                [chartOptions]="graficos.grafico9.options">
	                </app-grafico-dona>
	                                 
	            </div>
	            <button *ngIf="usuario.role === 'ADMIN_ROLE'" (click)="borrarGrafico( idG9 )" class="btn btn-danger">
	                    <i class="fa fa-trash-o"></i> Eliminar grafico
	            </button>
	        </div>
		</div>
		
			<!--CMP-->
	  
	    <div class="col-md-6">
	        <div class="card">
	            <div class="card-body grafico">
				  <h4 class="card-title"><b>{{titulo}}</b></h4>
				  <p>Mide el porcentaje de cumplimiento del plan de mantenimiento preventivo de los equipos.</p>
	              
	              <div id="chartdiv" style="width: 100%; height: 226px"></div>
	
	            </div>
	            <button *ngIf="usuario.role === 'ADMIN_ROLE'" (click)="borrarGrafico( idG10 )" class="btn btn-danger">
	                    <i class="fa fa-trash-o"></i> Eliminar grafico
	            </button>
	        </div>
	    </div>

	<!--TCR-->

	    <div class="col-md-6" *ngIf="empresa.categoria === 'BODEGA' || empresa.categoria === 'MIXTO'">
	        <div class="card">
	            <div class="card-body grafico">
				  <h4 class="card-title"><b>{{titulo2}}</b></h4>
				  <p>Mide el porcentaje de líneas recepcionadas dentro del plazo establecido por sobre el total de las líneas recepcionadas</p>
	              
	              <div id="chartdiv2" style="width: 100%; height: 226px"></div>
	
	            </div>
	            <button *ngIf="usuario.role === 'ADMIN_ROLE'" (click)="borrarGrafico( idG11 )" class="btn btn-danger">
	                    <i class="fa fa-trash-o"></i> Eliminar grafico
	            </button>
	        </div>
		</div>
		
	<!--OTIF-->

	    <div class="col-md-6" *ngIf="empresa.categoria === 'BODEGA' || empresa.categoria === 'MIXTO'">
	      <div class="card">
	          <div class="card-body grafico">
				<h4 class="card-title"><b>{{titulo3}}</b></h4>
				<p>Mide la cantidad que entregadas respecto a las solicitadas en el plazo establecido por contrato.</p>
	            
	            <div id="chartdiv3" style="width: 100%; height: 226px"></div>
	
	          </div>
	          <button *ngIf="usuario.role === 'ADMIN_ROLE'" (click)="borrarGrafico( idG12 )" class="btn btn-danger">
	                <i class="fa fa-trash-o"></i> Eliminar grafico
	        </button>
	      </div>
	  </div>

	  	<!--SOS-->

	  <div class="col-md-6" *ngIf="empresa.categoria === 'BODEGA' || empresa.categoria === 'MIXTO'">
	      <div class="card">
	          <div class="card-body grafico">
				<h4 class="card-title"><b>{{titulo4}}</b></h4>
				<p>Emergencias tratadas a tiempo.</p>
	            <div id="chartdiv4" style="width: 100%; height: 226px"></div>
	          </div>
	          <button *ngIf="usuario.role === 'ADMIN_ROLE'" (click)="borrarGrafico( idG13 )" class="btn btn-danger">
	                <i class="fa fa-trash-o"></i> Eliminar grafico
	        </button>
	      </div>
	  </div>

	  	<!--SCL-->

	  <div class="col-md-6">
	    <div class="card">
	        <div class="card-body grafico">
			  <h4 class="card-title"><b>Satisfacción del cliente</b></h4>
			  <p>Mide la satisfacción del clientes.</p>
	          <div class="row pt-5"  style="width: 100%; height: 226px">
	              <div class="col-12 text-center">
	                  <img src="assets/images/bueno.png" class="img-fluid animated infinite pulse" style="height: 120px; width: auto;">
	                  <p><b>{{dataG14}}%</b></p>
	              </div>
	        
	          </div>
	        </div>
	        <button *ngIf="usuario.role === 'ADMIN_ROLE'" (click)="borrarGrafico( idG14 )" class="btn btn-danger">
	                <i class="fa fa-trash-o"></i> Eliminar grafico
	        </button>
	    </div>
	   </div>
</div>
